BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Отступы и скобки
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Пробелы
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

# Выравнивание
AlignOperands: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Left
AlignTrailingComments: true

# Максимальная длина строки
ColumnLimit: 100

# Имена
DerivePointerAlignment: false
PointerAlignment: Left

# Сортировка include'ов
SortIncludes: CaseSensitive
IncludeBlocks: Preserve

# Для современного C++
Standard: c++20
